

@keyframes pulsingCircle {
    0%{
        transform: translate(-80%,-50%) scale(1) rotate(1deg);
    }
    50%{
        transform: translate(-80%,-50%) scale(1.01) rotate(0deg);
    }
    100%{
        transform: translate(-80%,-50%) scale(1) rotate(1deg);
    }
}

@keyframes moveToCenter {
    0%{
        opacity: 1;
        transform: translate(-80%,-50%) scale(1) rotate(0deg);
    }
    66%{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1) rotate(0deg);
    }
    100%{
        opacity: 0;
        transform: translate(-50%,-50%) scale(1) rotate(0deg);
    }
}

@keyframes moveBack {
    0%{
        opacity: 0;
        transform: translate(-50%,-50%) scale(1) rotate(0deg);
    }
    33%{
        opacity: 0;
        transform: translate(-50%,-50%) scale(1) rotate(0deg);
    }
    100%{
        opacity: 1;
        transform: translate(-80%,-50%) scale(1) rotate(0deg);
    }
}
