

.primary-header{
    width: 100vw;
    height: calc(100vh / 3);
    background-image: linear-gradient(rgba(0,0,0,0.7), transparent);
}
.primary-header-titile{
    width: max-content;
    color: var(--text-color1);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    float: right;
    margin: 0 2rem;
    padding: 2rem;
}