


@media only screen and (max-width: 780px){
    /*  STYLES  */
    
    .simulation-display{
        border: 1px solid blue;
        width: 100%;
        height: 100%;
    }
    .patterns-scroller{
        --pattern-scroller-spacing: 2rem;
        /* --pattern-scroller-fontSize: 0.8rem; */
        grid-auto-columns: 100%;
        width: 90vw;
        height: 70vh;
    }
    .game-of-life-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "game"
                            "info";
    }
}
@media only screen and (max-width: 480px){
    /*  STYLES  */
    .art-extra-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }
    .words{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .words h1{
        margin: 0;
    }
    .words p{
        margin: 0;
    }
    .patterns-scroller{
        --pattern-scroller-spacing: 2rem;
        /* --pattern-scroller-fontSize: 0.8rem; */
        grid-auto-columns: 100%;
        width: 90vw;
        height: 70vh;
    }
    .button-container{
        margin-bottom: 1rem;
    }
    .canvas-container{
        width: 205px;
        height: 205px;
    }
    .gof-grid-container{
        width: 200px;
        height: 400px;
    }
}
@media only screen and (max-width: 320px){
    /*  STYLES  */
}
