

.secondary-section .content h3{
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    font-weight: 900;
    color: yellow;
    

}

.secondary-section .content a{
    display: block;
    font-size: 1.33rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
    margin: 0 auto;
}