
/*  VARIABLES   */

:root{
    --text-color1: #fff;
    --primary-color: #000;
    --secondary-color: #fff;
    /* --myColor: rgba(198,175,0,.5); */
    --myColor: rgba(0,23,198,.5);
    --lightColorForGradient: rgba(193,199,244, 0.5);
    --myGradient: linear-gradient(var(--myColor), var(--lightColorForGradient));

    /*  CIRCLE STYLE    */
    --circle-bg-img: radial-gradient(rgba(255,255,255,.5), rgba(62, 75, 229, .5));
    --circle-shadow: -5px -5px 10px rgba(62, 75, 229, .5),
                inset 5px 5px 10px rgba(255,255,255,.5);
    --circle-shadowReverse: 5px 5px 10px rgba(62, 75, 229, .5),
                inset -5px -5px 10px rgba(255,255,255,.5);

    /*  CIRCLE 1 / LARGEST  */
    --c1Size: calc(100vh * 0.9);
    /*  CIRCLE 2 / MEDIUM   */
    --c2Size: calc(100vh * 0.6);
    /*  CIRCLE 3 / SMALLEST    */
    --c3Size: calc(100vh * 0.3);


    --calendar-width: 90vw;
    --calendar-height: 75vh;
    --calendar-bg-color: var(--myGradient);
    --calendar-border-color: rgba(255,255,255,1);
    --calendar-font-type: sans-serif;
    --calendar-font-size: clamp(5px, 2.5vw, 1rem);
    --font-opacity: 1;
    --calendar-font-color: rgba(0255,255,255,var(--font-opacity));
    --calendar-margin: 0 auto;

    --calendar-btn-color: var(--calendar-font-color);
    --calendar-btn-hover-color: rgba(255,255,255,calc(var(--font-opacity) - 0.3));
    --calendar-btn-bg-color: rgba(100,100,200,.3);

    --calendar-prev-month-color: none;
    --calendar-current-month-color: none;
    --calendar-next-month-color: none;
    --calendar-prev-next-font-color: rgba(255,255,255,calc(var(--font-opacity) - 0.5));
    --calendar-prev-next-border-color: rgba(255,255,255,calc(var(--font-opacity) - 0.5));
}

/*  RESETS  */

*{margin: 0;padding: 0;box-sizing: border-box;}
*::before,*::after{margin: 0;padding: 0;box-sizing: border-box;}

/*  SITEWIDE STYLES */

html{
    font-family: sans-serif;
    
}
body{
    position: relative;
    min-height: 100vh;
    background-image: var(--myGradient);
    overflow-x: hidden;
    perspective: 1000px;
}
main{
    width: 100vw;
    
}
.primary-section{
    width: 100vw;
    height: 100vh;   
}
.secondary-section,
.tertiary-section,
.quaternary-section{
    width: 100vw;
}
.primary-section .content,
.secondary-section .content,
.tertiary-section .content,
.quaternary-section .content{
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
}
.primary-section .content h2,
.secondary-section .content h2 ,
.tertiary-section .content h2,
.quaternary-section .content h2{
    color: var(--text-color1);
    font-size: clamp(4rem, 10vw, 10rem);
    width: 100%;
    padding: 1rem;
}
.box{
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-image: linear-gradient(-45deg, rgba(255,255,255,0.3), rgba(255,255,255,0.1));
    margin: 0 auto;
}
.box::after{
    content: "";
    position: absolute;
    top: 110%; left: 0;
    width: 100%;
    height: 5%;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    filter: blur(3px);
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



