:root{
    --text-color1: #fff;
    --primary-color: #000;
    --secondary-color: #fff;
    --myColor: rgba(0,23,198,.5);
    --lightColorForGradient: rgba(193,199,244, 0.5);
    --myGradient: linear-gradient(var(--myColor), var(--lightColorForGradient));

    /*  CIRCLE STYLE    */
    --circle-bg-img: radial-gradient(rgba(255,255,255,.5), rgba(62, 75, 229, .5));
    --circle-shadow: -5px -5px 10px rgba(62, 75, 229, .5),
                inset 5px 5px 10px rgba(255,255,255,.5);
    --circle-shadowReverse: 5px 5px 10px rgba(62, 75, 229, .5),
                inset -5px -5px 10px rgba(255,255,255,.5);
    /*  CIRCLE 1 / LARGEST  */
    --c1Size: calc(100vw / 2 - 1rem);
    --c1maxSize: calc(100vw);
    /*  CIRCLE 2 / MEDIUM   */
    --c2Size: calc(100vw / 2.5 - 1rem);
    --c2maxSize: calc(100vh * 0.33);
    /*  CIRCLE 3 / SMALLEST    */
    --c3Size: calc(100vw / 4 - 1rem);
    --c3maxSize: calc(100vh * 0.20);
}

*{margin: 0;padding: 0;box-sizing: border-box;}
*::before,*::after{margin: 0;padding: 0;box-sizing: border-box;}

html{
    font-family: sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    background-image: var(--myGradient);
    overflow-x: hidden;
}

header{
    position: absolute;
    top:0; left: 0;
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
header p{
    color: var(--text-color1);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 2rem;
}

main{
    width: 100vw;
    perspective: 1000px;
}



main section{
    width: 100vw;
    height: 100vh;
    
}
main section .content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

/*  PRIMARY SECTION  */


/*  LEFT COLUMN    */

.circles-container{
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;

}
.circle{
    position: absolute;
    top: 50%; left: 50%;
    border-radius: 50%;
    background-image: var(--circle-bg-img);
    box-shadow: var(--circle-shadow);
    transform-style: preserve-3d;
    transform: translate(-80%,-50%);
    transition: all 300ms ease;
}

.circle.open{
    
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 0%;
    transform: translate(-50%,-50%);
    transition: all 300ms ease;
    animation: none;
}
.circle .close-button{
    position: absolute;
    top: 20px; right: 20px;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: all 1s ease;
}
.circle.open .close-button{
    opacity: 1;
}
.circle .close-button .bar{
    position: absolute;
    top: 50%; left: 50%;
    width: 33px;
    height: 5px;
    border: 1px solid black;
    border-radius: 10px;
    transform-origin: center;
}
.bar1{
    transform: translate(-50%, -50%) rotateZ(45deg);
}
.bar2{
    transform: translate(-50%, -50%) rotateZ(-45deg);
}
.circle1{
    width: var(--c1Size);
    height: var(--c1Size);
    min-width: var(--c1maxSize);
    min-height: var(--c1maxSize);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    opacity: 1;
    animation: pulsingCircle 3s ease-in-out 666ms infinite;
}

.circle2{
    width: var(--c2Size);
    height: var(--c2Size);
    min-width: var(--c2maxSize);
    min-height: var(--c2maxSize);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    animation: pulsingCircle 3s ease-in-out 333ms infinite;
}

.circle3{
    width: var(--c3Size);
    height: var(--c3Size);
    min-width: var(--c3maxSize);
    min-height: var(--c3maxSize);
    animation: pulsingCircle 3s ease-in-out infinite;
}
.circle p{
    margin-bottom: 2rem;
    color: rgb(255,255,255,.5);
}

/*  RIGHT COLUMN   */

.words{
    position: absolute;
    top: 5rem; right: 2rem;
    text-align: right;
}
.words h1{
    font-size: 3rem;
    color: rgba(0,0,0,.5);
}
.words p{
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--text-color1);
    text-shadow: 2px 2px 2px solid rgba(0,0,0,.8);
}

/*  SECONDARY SECTION  */
.secondary-section .content p{
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    font-weight: 900;
    color: yellow;
}
/*  TERTIARY SECTION  */

/*  QUATERNARY SECTION  */

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*  ANIMATIONS  */


@keyframes pulsingCircle {
    0%{
        transform: translate(-80%,-50%) scale(1) rotate(-5deg);
    }
    50%{
        transform: translate(-80%,-50%) scale(1.01) rotate(-3deg);
    }
    100%{
        transform: translate(-80%,-50%) scale(1) rotate(-5deg);
    }
}
