.game-of-life-container{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "info game";
    background: var(--myGradient);
    margin: 0 auto;
    border-radius: 10px;
}
/* .game-of-life-container::before{
    content: "WENT TO SLEEP";
    color: hsl(0 100% 100% / .5);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: hsl(0 0% 0% / .7);
    display: flex;
    align-items: center;
    justify-content: center;
} */
.game-info-container{
    grid-area: info;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.game-info-container h3 {
    padding: 1rem;
}
.game-info-container p {
    line-height: 1.5rem;
}
.gof-reference-container{
    min-width: 200px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border: solid 1px #fff;
    padding: 1rem;
}
j.gof-reference-link{

}
.gof-reference-img-container{
    width: 150px;
}
.gof-reference-img{
    width: 100%;
    
}
.game-container{
    grid-area: game;
    padding: 1rem;
}
.gof-button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
.gof-button-container2{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.gof-button{
    font-size: 1rem;
    padding: .5rem;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 2px hsl(0 0% 0% / .7);
    box-shadow: 2px 2px 2px hsl(0 0% 0% / .5);
}

.gof-grid-container{
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
#GameOfLifeCanvas{
    /* width: 100%;
    height: 100%; */
    background-color: #fff;
}

/*  This sits at the very bottom of html page outside the "page-wrapper" */

.fullPageContainer{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: none;
}
#FullPageCanvas{
    width: 100vw;
    height: 100vh;
}
.fullPageContainer.appear{
    display: block;
}
.full-page-button-container{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    height: 15vh;
    background: hsl(0 0% 0% / .7);
    border: 1px solid hsl(0 100% 100% / .3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.full-page-button{
    background: transparent;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
